body {

    background-color: #ebe5e5;
    margin: 0;
    padding: 30px 300px;

}





.info {
    text-align: justify;
    margin-bottom: 20px;

}

.info-titulos{
    font-size: 20px;
}
/*  titulo do nome e objetivvvo*/
.titulo {
    text-align: center;
    display: block;
}

.titulo h1 {
    margin: 10px;
    padding: 0;
    font-size: 40px;
}


.modelo-curriculo {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    border: 1px solid black;
    padding: 10px 100px;
    margin: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.modelo-curriculo .modelo-titulo {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.modelo-curriculo p {
    text-align: justify;
}

#popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}

.conteudo {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 500px;
    text-align: center;
}

#popuptitulo {
    font-size: 25px;
    margin-bottom: 20px;
}

#inputpopup {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 15px;
}

.conteudo button {
    margin: 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.inputs label{
    text-align: left;
    margin: 5px 0;
    font-size: 20px;
}

.inputs input{
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

#sobre{
    outline: none;
    border-radius: 10px;
    text-align: justify;
}

#btnppCriar{
    background: #157408;
    color: rgb(255, 255, 255);
}

#btnppCancelar {
    background: #444;
    color: white;
}

.btn{
    background-color: #444;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
   
}

.adicionais{
    display: flex;
    gap: 40px;
    margin: 20px;
}


.formacaoInput , .cursoInput{
    margin-top: 10px;
}